/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/12/2020, 12:21:13
    Author     : beatrizsato
*/


.mini-obra-artista {
    width: 100px;
    height: 133px;
}

.lista-obra-carrinho {
    width: 450px;
    margin: 0 auto;
    padding-top: 25px;
}

.resumo {
    padding: 20px;
    max-width: 420px;
    /*centraliza*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    float: none;
    
    background-color: #fffafa;
    
        /*borda*/
    border-color: #430704;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
}

.retira-carrinho {
    margin-bottom: 20px;
}

.obra-mini {
    padding-left: 30px;
    padding-top: 25px;
}
